<head>
<link rel="icon" href="favicon.ico" size="16x16">

<script src="/assets/welcome.js"></script>
<h1><a href="http://fr.wikipedia.org/wiki/1984_(roman)">ORWELL</a> Project</h1>
<h2>Of Robots We Expect Lots of Laughs</h2>

<!--
<video width="320" height="240" controls autoplay>
<source src="http://www.w3schools.com/html/movie.mp4" type="video/mp4">
Your browser does not support videos. Please migrate to a real one.
</body>video>
-->
<br/>
<!--
<video width="320" height="240" controls>
<source src="http://192.168.1.12:8080/video" type="video">
</body>video>
-->

<!--
<img width="320" height="200" src="http://192.168.1.12:8080/video" alt="Android">
-->

<br/>


<div>
<!--<img width="320" height="200" src="http://192.168.1.27:9100" alt="Platypus"/>-->
<img width="320" height="200" src="http://192.168.1.27:9100/videofeed" alt="Local"/>
<!--<img width="320" height="200" src="http://parapampa.no-ip.biz:9100/videofeed" alt="Local"/>-->
</div>
<br/>


<p id="demo">Here, a client interface, soon...</p>
<button type="button" onclick="myFunction()">Try me, I'm a button</button>
<p id="textField">Press an arrow key to test me</p>
<div/>

