<html>
	<head>
		<link rel="icon" href="favicon.ico" size="16x16">
	</head>
	<body>
		<h1><a href="http://fr.wikipedia.org/wiki/1984_(roman)">ORWELL</a> Project</h1>
		<h2>Of Robots We Expect Lots of Laughs</h2>
		<br/>
		<div>
			<%= image_tag "#{@videofeed}", alt: "Local" %>
		</div>
		<br/>
		<p id="demo">Here, a client interface, soon...</p>
		<button type="button" onclick="myFunction()">Try me, I'm a button</button>
		<p id="textField">Press an arrow key to test me</p>
		<div/>
	</body>
</html>

